@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.header {
  background-color: #611F6A;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.main-container{
  background-image: url("../../images/home.jpg.webp");
  height: 500px;
  width: 100%;
  
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin-left: 250px;
  margin-top: 50px;
  font-size: 30px;
}

.headerBtn {
  background-color: #e6d822;
  color: white;
  font-weight: 500;
  height: 60px;
  width: 120px;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 60px;
  margin-left: 450px;
  margin-bottom: 50px;
  border-color: #0071c2;
  
}
.headerBtn:hover{
  /* background: local; */
  border-color: #0071c2;
  transform: scale(2);
  transition-duration: 0.5s;

  
  
}



.headerSearch {
  height: 80px;
  background-color: rgb(255, 255, 255);
  border: 3px solid #f7ff1a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 10px;
  
  position: absolute;
  
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
  font-size: 25px;
  margin-left: 100px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
  border-radius: 25px;  
}

/* .optionCounterButton:disabled {
  cursor: not-allowed;
} */

.headerTitle{
  font-size: 70px;
  font-family:  'Dancing Script', cursive;
  margin-left: 300px;
  margin-top: 100px;
}

.Btn{
  background-color: #b9ce1a;
  color: white;
  font-weight: 500;
  font-size: 15px;
  height: 40px;
  width: 120px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;

}
.Btn:hover{
  background-color: #0071c2;
}