::-webkit-scrollbar {
  background: #e4e4e4 !important;
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: #7e7e7e !important;
  border-radius: 1rem;
}
* {
  font-family: iransans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* a {
  text-decoration: none;
  color: inherit;
} */
/* button {
  outline: none;
  border: none;
} */
/* html {
  font-size: 16px;
} */
/* body {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-x: hidden;
  background-color: #ededed;
  transform: translate(-50%, -50%);
} */
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 120vw;
  height: fit-content;
  margin: 1em auto;
  background-color: #fff;
  border-bottom-right-radius: 0.25em;
  box-shadow: 0 4px 8px 1px #00000025;
  overflow: hidden;
}
.card-meta {
  position: relative;
  height: 20em;
  overflow: hidden;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.siRating>button{
  background-color: #003580;
  color: white;
  padding: 5px;
  font-weight: bold;
  border: none;
 }

.siRating{
  display: flex;
  justify-content: space-between
}

.siRating>span{
  font-weight: 500;
}
.card-meta-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
}
.card:hover .card-meta-img {
  transform: scale(1.1);
}
.card-meta-detail {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0.25em;
  padding: 0.25em;
  background-color: #00000080;
  color: #fff;
  font-size: 0.875em;
  border-radius: 0.25em;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.siImg{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.4s ease;
}
.card:hover .card-meta-img {
  opacity: 1;
}
.card-meta-author i,
.card-meta-date i,
.tag-wrapper a {
  margin: 0 0.25em;
}
.tag-wrapper a {
  transition: color 0.4s;
}
.tag-wrapper a:hover {
  color: #8c8cf0;
}
.card-description {
  flex-basis: 100%;
  padding: 1.5em 1em;
  overflow: hidden;
  transition: 0.4s ease;
}
.card-description::before {
  content: "";
  display: none;
  position: absolute;
  width: 2em;
  height: 100%;
  top: 0;
  left: 25%;
  background-color: #fff;
  z-index: 0;
  transform: skewX(-3deg);
  transition: left 0.4s ease;
}
.card-description-subtitle {
  display: inline-block;
  position: relative;
  margin-bottom: 0.25em;
  color: #a2a2a2;
}
.card-description-subtitle::after {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  width: 2em;
  height: 0.25em;
  background-color: rgb(142, 248, 142);
  border-radius: 0.5em;
  /* transition: animation 0.8s; */
}
.card:hover .card-description-subtitle::after {
  animation: cardSubtitleAfter 0.8s forwards;
}
@keyframes cardSubtitleAfter {
  0% {
    right: 100%;
    width: 100%;
  }
  50% {
    right: 0;
    width: 2em;
  }
  100% {
    right: 100%;
    width: 2em;
  }
}
.card-description .read-more {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5em 1em;
  background-color: #8c8cf0;
  color: #fff;
  border-top-left-radius: 0.25em;
  font-size: 0.875em;
  transition: background-color 0.4s;
}
.card-description .read-more:hover {
  background-color: #7272ec;
}
.card-description-content {
  margin: 0.75em 0;
}
@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    max-width: 40vw;
  }
  .card-meta {
    height: auto;
    flex-basis: 40%;
    transition: flex-basis 0.4s ease;
  }
  .card:hover .card-meta {
    flex-basis: 60%;
  }
  .card:hover .card-description::before {
    left: 33%;
  }
  .card-description::before {
    display: block;
  }
  .card-meta-detail {
    direction: ltr;
  }
}
